// TYPOGRAPHY ================================================
$base-font: 'Open Sans', sans-serif;;
$heading-font: 'Signika', sans-serif;
$caption-font: 'Signika', sans-serif;
$code-font: 'source-code-pro', monospace;
$alt-font: 'Signika', sans-serif;
$title-font: 'Signika', sans-serif;

$doc-font-size: 17;
$doc-line-height: 20;

$border-radius: 4px;


// set-up the body font-size / line-height
body {
  margin-top: 1px + $doc-line-height;
  font-size: 0px + $doc-font-size;  
}


// COLORS =====================================================
$body-color         : #beaa51;
$text-color         : #203018;
$base-color         : #343434;    
$comp-color         : spin($base-color, 180); 
$border-color       : #4a6;
$white              : #fff;
$black              : #345;
$accent-color       : #4a6;
$link-color         : #226;

$table-border-color           : $border-color;
$table-border                 : 1px solid $table-border-color;
$table-background             : $body-color;
$table-header-color           : lighten($table-background, 10);
$table-hover-color            : darken($table-background, 2);
$table-stripe-color           : darken($table-background, 4);
$table-stripe-color-hover     : darken($table-stripe-color, 5);


// MEDIA QUERIES ==============================================
$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";
